PORT=7777
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@devtinder.kwotsbj.mongodb.net/devTinderMinor?retryWrites=true&w=majority
JWT_SECRET=DEV_TINDER_MINOR_PROJECT_SECRET_KEY_2026
CLIENT_URL=http://localhost:5173
